@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff) format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff) format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff) format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff) format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff) format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff) format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
}
​*,
*::before,
*::after {
  box-sizing: inherit;
}
​html {
  font-size: 62.5%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
​ body {
  box-sizing: border-box;
  font-family: "Amazon Ember", Arial;
  font-weight: 400;
  line-height: 1.6;
}
​ ul {
  list-style-type: none;
}
​ a {
  text-decoration: none;
}

/**************** NAVBAR ****************/

.navbar {
  background-color: #131921;
  height: 60px;
  color: #ffffff;
}

.container {
  width: 99%;
  height: 100%;
  margin: auto;
}
.container-nav {
  display: flex;
  align-items: center;
}

/**************** NAVBAR LOGO ****************/

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 113px;
  height: 45px;
  cursor: pointer;
}

.logo {
  background: url("/Assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") no-repeat -10px -51px;
  width: 96px;
  height: 29px;
}

/**************** BORDER UTILITY ****************/

.border-white {
  border: 2px solid transparent;
}
.border-white:hover {
  border: 1.5px solid #ffffff;
}

/**************** DELIVER TO ****************/

.deliver-container {
  /* justify-content: space-between; */
  display: flex;
  width: 79px;
  height: 45px;
  padding-left: 5px;
  cursor: pointer;
  /* margin-left: 20px; */
}

.deliver-container p {
  font-family: "Amazon Ember";
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 5px;
  margin: 0;
}

.deliver-container span {
  font-family: "Amazon Ember";
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}

.deliver-logo {
  align-self: center;
  background: url(/Assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png) no-repeat -71px -379px;
  width: 15px;
  height: 17px;
}

/**************** SEARCH ****************/

.search-container {
  display: flex;
  justify-content: space-between;
  background-color: #febd69;
  width: 1240px;
  height: 40px;
  margin-left: 25px;
  border-radius: 5px;
  overflow: hidden;
}

.search-select {
  background-color: #f3f3f3;
  font-family: "Amazon Ember";
  font-size: 12px;
  width: 50px;
  padding-left: 5px;
  border: none;
  cursor: pointer;
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 3px;
}
.search-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  background-color: #febd69;
  cursor: pointer;
}
.search-icon {
  background: url(/Assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png) no-repeat -10px -290px;
  width: 21px;
  height: 21px;
}

/**************** LANGUAGE ****************/

.language-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 73px;
  margin-left: 25px;
  cursor: pointer;
}

.language-container p {
  font-family: "Amazon Ember";
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}

.flag {
  background: url(/Assets/images/usflag.jpg) no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/**************** SIGN IN ****************/

.sign-in-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 118px;
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
}

.sign-in-container p {
  font-family: "Amazon Ember";
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 1px;
  margin: 0;
}

.sign-in-container span {
  font-family: "Amazon Ember";
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}

/**************** Returns & Orders ****************/

.order-container {
  display: flex;
  justify-content: center;
  width: 77px;
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
}

.order-container p {
  font-family: "Amazon Ember";
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 1px;
  margin: 0;
}

.order-container span {
  font-family: "Amazon Ember";
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}

/**************** CART ****************/

.cart-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 50px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.cart-logo {
  background: url(/Assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png) no-repeat -10px -340px;
  width: 38px;
  height: 26px;
}

.cart {
  font-family: "Amazon Ember";
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  padding-top: 15px;
}

.cart-container span {
  color: #f08804;
  font-family: "Amazon Ember";
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  top: 7px;
  right: 48px;
}

/**************** MINI NAVBAR ****************/

.mini-navbar {
  background-color: #232f3e;
  height: 39px;
  color: #ffffff;
}

.container-mini-nav {
  display: flex;
  align-items: center;
  /* width: 99%; */
}

.container-mini-nav > div > P {
  font-family: "Amazon Ember";
  font-size: 14px;
  line-height: 12px;
  font-weight: 400;
}

/**************** ALL ****************/

.all-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 58px;
  cursor: pointer;
}

.all-container p {
  font-weight: 700 !important;
}

/**************** TODAYS DEALS ****************/

.deals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 109px;
  cursor: pointer;
}

/**************** CUSTOMER SERVICE ****************/

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 134px;
  cursor: pointer;
}

/**************** GIFT CARDS ****************/

.gift-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 87px;
  cursor: pointer;
}

/**************** REGISTRY ****************/

.registry-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 76px;
  cursor: pointer;
}

/**************** SELL ****************/

.sell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 47px;
  cursor: pointer;
}

/**************** SHOP DEALS IN ELECTRONICS ****************/

.shop-deals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 180px;
  margin-left: 1170px;
  cursor: pointer;
}

.shop-deals-container p {
  line-height: 15px !important;
  font-weight: 700 !important;
}

/******************************************** MAIN SECTION ******************************/

.showcase {
  height: 900px;
  color: #0f1111;
}

.container-showcase {
  /* display: flex; */
  background: #131921;
  background: #ffffff;
  width: 77%;
}

.kindle-paperwhite-container {
  display: flex;
  justify-content: center;
  background: #ffffff;
  width: 100%;
  height: 45px;
  cursor: pointer;
}

.kindle-paperwhite {
  color: #000000;
  width: 50%;
  background: url(/Assets/images/kindle.jpg) no-repeat center;
}

.back-to-results-container {
  display: flex;
  background: #ffffff;
  width: 100%;
  height: 14px;
}

.back-to-results p {
  color: #565959;
  font-family: "Amazon Ember";
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  cursor: pointer;
}

.test-container {
  display: flex;
  width: 100%;
  margin-top: 5px;
}

.pictures-container {
  width: 505px;
  height: 502px;
}

/******************************************** INFO ******************************/

.info-container {
  width: 667px;
  height: 549px;
}

.info-header {
  width: 100%;
}

.info-header h1 {
  color: #0f1111;
  font-family: "Amazon Ember";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0px;
}

.info-header a {
  cursor: pointer;
  color: #007185;
  font-family: "Amazon Ember";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.info-header a:hover {
  color: #c7511f;
  text-decoration: underline;
}

.stars-rating-container {
  display: flex;
  /* justify-content: space-between; */
}

.stars {
  background: url(/Assets/images/starsandchecks.png) no-repeat -2px -42px;
  width: 80px;
  height: 15px;
}

.ratings {
  margin-left: 30px;
}

.stars-rating-container span {
  margin-left: 15px;
}

.questions {
  margin-left: 15px;
}

.info-middle {
  width: 95%;
  font-family: "Amazon Ember";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.info-middle h1 {
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}

.info-middle > div {
  margin-bottom: 5px;
}

.compatible-container {
  display: flex;
  margin-top: 10px;
  width: 667px;
  height: 20px;
}
.compatible-container .right {
  margin-left: 55px;
}

.connector-type-container {
  display: flex;
  width: 667px;
  height: 20px;
}

.connector-type-container .right {
  margin-left: 80px;
}

.connector-gender-container {
  display: flex;
  width: 667px;
  height: 20px;
}

.connector-gender-container .right {
  margin-left: 65px;
}

.color-container {
  display: flex;
  width: 667px;
  height: 20px;
}

.color-container .right {
  margin-left: 147px;
}

.item-dimensions-container {
  display: flex;
  width: 667px;
  height: 20px;
}
.item-dimensions-container .right {
  margin-left: 23px;
}

.info-bottom {
  margin-top: 20px;
  font-family: "Amazon Ember";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.info-bottom h1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.info-bottom ul {
  margin-left: 17px;
}

.info-bottom p {
  margin-top: 20px;
}
